.header {
  background-color: #fff;
  background-image: url('desk55.png');
  background-size: cover;
  background-position: center bottom;
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.logo {
  background: url('logo-black.svg');
  width: 46px;
  height: 46px;
  background-size: 90%;
  opacity: .75;
  background-repeat: no-repeat;
}

.social-action {
  line-height: 32px;
  border: 1px solid rgba(0, 0, 0, .15);
  color: rgba(0, 0, 0, 0.44);

  /*border-radius: 3px;*/
  padding: 0 16px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 33px;
  text-decoration: none;
}

.social-action:hover {
  color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.3);
}

/*.header:before {
  content: "";
  background: url('pattern-header.png') center;
  background-size: 400px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .05;
}*/
.header-content {
  padding: 5% 0 7%;
  position: relative;
}

.search-container {
  margin: auto;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 420px;
  height: 52px;
  padding: 16px 16px;
  border-radius: 3px;
  margin-top: 18px;
  background: #fff;
}

.search-input {
  color: #555;
  background: transparent;
  width: calc(100% - 34px);
  outline: none;
  margin-top: -2px;
  border: none;
  padding: 1px 4px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  text-overflow: ellipsis;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.search-icon {
  width: 34px;
  height: 28px;
  vertical-align: top;
  display: inline-block;
  background: url('logo-black.svg');
  background-position: left 0;
  background-size: 24px;
  background-repeat: no-repeat;
  opacity: .4;
  position: relative;
  top: -2px;
}

/*header_expanded*/
.header_expanded {
  padding: 10px 30px 10px 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.header_expanded .header-content {
  padding: 0px;
}

.header_expanded .logo,
.header_expanded h1,
.header_expanded h2 {
  display: none;
}

.header_expanded .search-container {
  margin: 0;
  box-shadow: none;
}
