.header {
  background: linear-gradient(-12deg, #036ded 22.5%, #5bd6dd 52.75%);
  background-size: 100% 920px;
  background-position: center bottom;
  color: white;
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.logo {
  background: url('logotest.png');
  width: 52px;
  height: 52px;
  background-size: 100%;
}

.header:before {
  content: "";

  /*background: url('pattern-temporary.svg') center;*/
  background-size: 400px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .12;
}

.header-content {
  padding: 5% 0 7%;
  position: relative;
}

.search-container {
  margin: auto;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 420px;
  height: 52px;
  padding: 16px 16px;
  border-radius: 3px;
  margin-top: 18px;
  background: #fbfaf8;
}

.search-input {
  color: #555;
  background: transparent;
  width: calc(100% - 50px);
  outline: none;
  margin-top: -2px;
  border: none;
  padding: 1px 4px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  text-overflow: ellipsis;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.search-icon {
  width: 50px;
  height: 24px;
  vertical-align: top;
  display: inline-block;
  background: url('search-icon.png');
  background-position: right center;
  background-size: 16px;
  background-repeat: no-repeat;
  opacity: .4;
}

/*header_expanded*/
.header_expanded {
  padding: 0;
}

.header_expanded .header-content {
  padding: 10px 20px;
}

.header_expanded .logo,
.header_expanded h1,
.header_expanded h2 {
  display: none;
}

.header_expanded .search-container {
  margin: 0;
  box-shadow: none;
  width: 520px;
}
