/*Global Styles*/
*, *:before, *:after {
	margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	
}
/*Heading and Search*/

/*Brand tiles*/

/*Brand page/popup*/

/*sidebar*/

