.popup {
  margin: auto;
  background: white;
  max-width: 600px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;

  &__messaging {
    background: url('desk4.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    min-height: 250px;
  }

  &__container {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding: 30px;
    overflow: auto;
  }

  &__contributors {
    padding-top: 8px;

    &-container {
      padding: 30px;
      background: #fafafa;
    }

    li {
      display: inline-block;
      vertical-align: top;
      width: 33.3333%;
      padding-right: 8px;

      @media (max-width: 580px) {
      width: 50%;
      }
    }

    a {
      padding: 8px 0;
      display: block;
      text-decoration: none;
      color: rgba(0, 0, 0, .6);
      font-size: 14px;

      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  strong {
    font-size: 40px;
    font-weight: 900;
  }

  span {
    color: rgba(0, 0, 0, .6);
    font-size: 20px;
  }
}
