<html>
<head>
	<title>Instant Logo Search</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!--
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
-->
</head>
<body>
	<div class="logo-popup" id="logo-popup-container">
		<span class="logo-popup-container z-3" id="logo-popup">
			<h3>Logos</h3>
			<div class="row">
				<div class="col-3">test</div>
				<div class="col-3">test</div>
				<div class="col-3">test</div>
				<div class="col-3">test</div>
			</div>
			<h3>Brand Colors</h3>
			<h3>Style guideline</h3>
		</span>
	</div>
	<div class="header" id="header">
		<div class="container">
			<h1>Instant Logo Search</h1>
			<div class="search z-1 row">
				<form id="search-form">
					<input type="text" placeholder="Search 500+ Brands, Startups, & Companies" autofocus id="search-bar">
					<button></button>
				</form>
			</div>
		</div>
	</div>
	<div class="content row zero-saved">
		<div class="container">
			<div class="brand-tiles">
					<div class="search-results">
						<h3>Search Results</h3>
					</div>
				{% for letter in brands_by_letter | sort %}
					<div class="letter">
						<h3>{{ letter | upper }}</h3>
					</div>
					<ul class="tile-container row group-{{ letter | lower }}">
						{% for brand in brands_by_letter[letter] %}
							<li class="col-3 {{ brand.normalized_name | trie }}">
								<div class="tile">
									<div class="tile-logo">
										<img src="">
										image
									</div>
									<div class="tile-title">
										<p>{{ brand.name }}</p>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
			<div class="">
			</div>
		</div>
	</div>

	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
