<html>
<head>
	<title>Instant Logo Search</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<style id="filter-styles"></style>
</head>
<body {% if brand %}class="filtering one-result"{% endif %}>
	<div class="header" id="header">
		<div class="container">
			<h1>Instant Logo Search</h1>
			<div class="search z-1 row">
				<form id="search-form">
					<input type="text" placeholder="Search 500+ Brands, Startups, & Companies" autofocus id="search-bar" value="{{ brand.name }}">
					<button></button>
				</form>
			</div>
		</div>
	</div>
	<div class="content row">
		<div class="container">
			<div class="brand-tiles">
				<div class="search-results">
					<h3>Search Results</h3>
				</div>
				{% for letter in brands_by_letter | sort %}
					<div class="letter">
						<h3>{{ letter | upper }}</h3>
					</div>
					<ul class="tile-container row group-{{ letter | lower }}">
						{% for brand in brands_by_letter[letter] %}
							<li class="brand {{ brand.normalized_name | trie }}" data-brand="{{ brand | json }}">
								<div class="tile">
									<div class="tile-logo">
										<img src="">
										image
									</div>
									<div class="tile-title">
										<p>{{ brand.name }}</p>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="logo-popup" id="logo-popup-container">
			<div class="logo-popup-container" id="logo-popup">
				<div class="row logos">
					<div class="col-6">
						<div class="row logo-card">
							<div class="col-6">
								<div class="logo-holder">
									<img src="https://d2ed0w4q03gsmw.cloudfront.net/s3/assets/baf2144/images/assets/blue_on_white.svg">
								</div>
							</div>
							<div class="col-6 card-ctas">
								<div>200x300</div>
								<div>200x300</div>
								<div>200x300</div>
								<div>svg</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="row logo-card">
							<div class="col-6">
								<div class="logo-holder">
									<img src="https://d2ed0w4q03gsmw.cloudfront.net/s3/assets/baf2144/images/assets/white_on_blue.svg">
								</div>
							</div>
							<div class="col-6 card-ctas">
								<div>200x300</div>
								<div>200x300</div>
								<div>200x300</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="row logo-card">
							<div class="col-6">
								<div class="logo-holder">
									<img src="https://d2ed0w4q03gsmw.cloudfront.net/s3/assets/baf2144/images/assets/white_on_blue.svg">
								</div>
							</div>
							<div class="col-6 card-ctas">
								<div>200x300</div>
								<div>200x300</div>
								<div>200x300</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="row logo-card">
							<div class="col-6">
								<div class="logo-holder">
									<img src="https://d2ed0w4q03gsmw.cloudfront.net/s3/assets/baf2144/images/assets/blue_on_white.svg">
								</div>
							</div>
							<div class="col-6 card-ctas">
								<div>200x300</div>
								<div>200x300</div>
								<div>200x300</div>
							</div>
						</div>
					</div>
				</div>
				<div class="color-palette row" id="colors">
					{% for color in brand.colors %}
						<div class="col-3">
							<div class="color-swatch-container select-on-click">
								<div class="color-swatch" style="background:{{ color }}"></div>
								<div class="color">{{ color }}</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
