<html>
<head>
	<title>Instant Logo Search{% if brand %} - {{ brand.name }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<style id="filter-styles"></style>
</head>
<body{% if brand %} class="filtering one-result"{% endif %}>
	<div class="header" id="header">
		<div class="container">
			<h1><a href="/" id="title-link">Instant Logo Search</a></h1>
			<div class="search z-1 row">
				<form id="search-form">
					<input type="text" placeholder="Search 500+ Brands, Startups, & Companies" autofocus id="search-bar" value="{{ brand.name }}">
					<div class="fake-placeholder" id="fake-placeholder"></div>
					<button></button>
				</form>
			</div>
		</div>
	</div>
	<div class="content row">
		<div class="container">
			<div class="brand-tiles">
				<div class="search-results">
					<h3>Search Results</h3>
				</div>
				{% for letter in brands_by_letter | sort %}
					<div class="letter">
						<h3>{{ letter | upper }}</h3>
					</div>
					<ul class="tile-container row group-{{ letter | lower }}">
						{% for brand in brands_by_letter[letter] %}
							<li class="brand {{ brand.normalized_name | trie }}" data-brand="{{ brand | json }}">
								<div class="tile">
									<div class="tile-logo">
										<img src="">
										image
									</div>
									<div class="tile-title">
										<p>{{ brand.name }}</p>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="logo-popup" id="logo-popup-container">
		<div class="logo-popup-container" id="logo-popup">
			{% include "./popup.html" %}
		</div>
	</div>
	<div class="collection">
		<div class="collection-popup isolate-scrolling">
			<div class="collection-popup-header"><span>My Collection</span><div class="trash"></div></div>
			<div class="card-ctas">
				<p class="row"><span class="minified">Addvocate Default 300x300 </span><span class="delete"></span></p>
				<p class="row"><span class="minified">Addvocate Default SVG</span><span class="delete"></span></p>
				<p class="row"><span class="minified">Addvocate Circle Medium</span><span class="delete"></span></p>
				<p class="row"><span class="minified">Addvocate White SVG</span><span class="delete"></span></p>
				<p class="row"><span class="minified">Addvocate Large</span><span class="delete"></span></p>
			</div>
		</div>
		<div class="collection-download">
		</div>
	</div>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/swig/dist/swig.min.js"></script>
	<script src="/js/popup.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
