doctype html
html
	head
		title Base App
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="#{cacheBuster('css/main.css')}")
		link(href='https://fonts.googleapis.com/css?family=Lato:400,900,300,700' rel='stylesheet' type='text/css')

	body
		#react-app
			!= markup
		script#react-state(type="text/json")
			!= JSON.stringify(state)
		script(type="text/javascript" src="/socket.io/socket.io.js")
		script(type="text/javascript" src="#{cacheBuster('js/main.js')}" async)
