doctype html
html
	head
		title Base App
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		#react-app
			!= markup
		script#react-state(type="text/json")
			!= JSON.stringify(state)
		script(type="text/javascript" src="js/main.js" defer)
