{% if brand %}
	<div class="row logos">
		<h3>{{ brand.name}} <div class="close"></div><div class="styleguide"></div></h3>
		{% for logo_index, logo in brand.logos %}
			<div class="col-3">
				<div class="logo-card">
					<div class="tile-logo">
						<img src="{{ logo.files[0].url }}">
					</div>
					<div class="card-ctas">
						{% for file_index, file in logo.files %}
							<p>{{ file.name }}<span class="{% if file.in_collection %}check{% else %}save{% endif %}" id="file-{{ brand.normalized_name }}-{{ logo_index }}-{{ file_index }}" data-file-path='{{ [brand.normalized_name, logo_index, file_index] | json }}'></span><a class="dl" href="{{ file.url }}" download></a></p>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="color-palette row" id="colors">
		{% for color in brand.colors %}
			<div class="col-3">
				<div class="color-swatch-container select-on-click">
					<div class="color-swatch" style="background:{{ color }}"></div>
					<div class="color">{{ color }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}
