/*Global Styles*/
*, *:before, *:after {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
ul, li {
	list-style: none;
}
h3 {
	color: #717171;
	font-size: 24px;
}
/*z-index shadows*/
.z-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.z-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.z-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.z-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.z-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
/*simple grid*/
.row {
	overflow:hidden;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
	float:left;
}
.col-1 {width:8.333333333%}
.col-2 {width:16.666666666%}
.col-3 {width:25%}
.zero-saved .col-3 {width: 20%}
.col-4 {width:33.333333333%}
.col-5 {width:41.666666666%}
.col-6 {width:50%}
.col-7 {width:58.333333333%}
.col-8 {width:66.666666666%}
.col-9 {width:74.999999999%}
.col-10 {width:83.33333333%}
.col-11 {width:91.66666666%}
.col-12 {width:100.000000000%}


/*Heading and Search*/
.header {
	background: #3150b4;
	padding: 100px 30px 40px 30px;
}
.header h1 {
	color: #fff;
  font-size: 56px;
  font-weight: 300;
  margin-bottom: 30px;
}
.search {
	width: 100%;
	max-width: 600px;
	background: white;
	position: relative;
	padding: 12px 16px;
	border-radius: 3px;
	height: 53px;
}
.search input	{
	outline-width: 0;
	-webkit-appearance: value;
	-moz-appearance:    value;
	appearance:         value;
	border: none;
	font-size: 22px;
	font-weight: 300;
	width: 100%;
	color: #717171;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: calc(100% - 40px);
	float: left;
}
.search button {
	width: 40px;
	float: left;
	height: 100%;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  cursor      : pointer;
  background: url('/images/search.png');
  background-size: auto 70%;
  background-position: center  right;
  background-repeat: no-repeat;
  opacity: .2
}
.search button:hover {
	opacity: .5;
}
/*Brand tiles*/
.brand-tiles {
	width: 70%;
	width: calc(100% - 300px);
	float: left;
}
.zero-saved .brand-tiles {
	width: 100%;
}
.letter {
	padding: 30px 30px 0px 30px
}
.filtering .letter {
	display: none;
}

.tile-container {
	padding: 30px 10px 30px 30px;
}
.filtering .tile-container {
	display: none;
}
.tile-container .col-3 {
	padding: 0 20px 20px 0;
}
.filtering .tile-container .col-3 {
	display: none;
}
.tile {
	cursor: pointer;
	border-radius: 3px;
	overflow: hidden;
	transition:all .1s ease-in-out;
	box-shadow:0 1px 7px rgba(0, 0, 0, 0.06),0 1px 3px rgba(0, 0, 0, 0.15)
}
.tile:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tile-logo {
	height: 100px;
	background:#fafafa;
	padding: 16px;
}
.tile-logo img {

}
.tile-title {
	padding: 16px;
}
.tile-title p {
	color: #212121
}
/*sidebar*/
.sidebar {
	width: 30%;
	padding: 30px;
	width: 300px;
	float: left;
	border-left: 1px solid rgba(0,0,0,.1);
	height: 100vh;
}
.zero-saved .sidebar {
	display: none;
}
.sidebar-fixed {
	position: fixed;
	right: 0;
	top: 0;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.sidebar h3 {
	padding-bottom: 30px;
}
.sidebar ul {

}
.sidebar p span {
	color: #717171;
	font-weight: 300;
}
.sidebar li {
	margin-bottom: 8px;
}
.sidebar li + span, .sidebar span + .download {
	display: none;
}
.download {

}
/*Brand page/popup*/
.popup {
	overflow: hidden;
}
.logo-popup {
	background: rgba(0,0,0,.5);
	z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.popup .logo-popup{
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  overflow: scroll;
}
.logo-popup-container {
  background: #fff;
  max-width: 700px;
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  margin:80px 0;
  border-radius: 3px;
  padding: 30px;
}
.logo-popup h3 {
	margin-bottom: 20px;
}
.logo-popup .row + h3 {
	margin-top: 30px;
}
