.logos {
  padding: 30px 10px 10px 30px;
  overflow: auto;
}

.logos_extra-bottom {
  margin-bottom: 100px;
}

.header_expanded + .logos {
  max-height: calc(100vh - 73px);
  overflow: auto;

  &_extra-bottom {
    max-height: calc(100vh - 173px);
  }
}

.logos-title {
  margin: 0 20px 20px 0;
}

.brand-logo {
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  width: calc(20% - 20px);
  margin: 0 20px 20px 0;
  display: inline-block;
  vertical-align: top;

  &_collected {
    position: static;
  }

  &_considering {
    position: relative;
    z-index: 9;
  }

  @media (max-width: 1680px) {
  width: calc(16.667% - 20px);
  }

  @media (max-width: 1480px) {
  width: calc(20% - 20px);
  }

  @media (max-width: 1240px) {
  width: calc(25% - 20px);
  }

  @media (max-width: 980px) {
  width: calc(33.333% - 20px);
  }

  @media (max-width: 740px) {
  width: calc(50% - 20px);
  }

  @media (max-width: 520px) {
  width: calc(100% - 20px);
  }

  &-image {
    background: #f2f2f2;
    padding: 12px;
    height: 140px;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
      height: 100%;
    }
  }

  &-ctas {
    background: white;
    padding: 12px 0 8px;

    strong {
      padding: 0 12px 4px;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    a {
      text-decoration: none;
      font-size: 15px;
      display: block;
      padding: 4px 12px;
      cursor: pointer;
      color: black;
      opacity: .6;

      &:not(:last-of-type) {
        background: url('downarrow106.svg');
        background-size: 19px;
        background-position: right 12px center;
        background-repeat: no-repeat;
      }

      &:last-of-type {
        background: url('plus84.svg');
        background-size: 19px;
        background-position: right 12px center;
        background-repeat: no-repeat;
      }

      .brand-logo_collected &:last-of-type {
        background: url('check.svg');
        background-size: 19px;
        background-position: right 12px center;
        background-repeat: no-repeat;
      }

      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, .02);
      }
    }
  }
}

.load-more {
  text-align: center;
  margin: 40px 0;

  &-cta {
    line-height: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, 0.44);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
      border-color: rgba(0, 0, 0, 0.3);
    }
  }
}
