.logos {
  padding: 30px 10px 10px 30px;
  overflow: auto;

  &_extra-bottom {
    margin-bottom: 100px;
  }
}

.header_expanded + .logos {
  max-height: calc(100vh - 73px);
  overflow: auto;
}

.logos-title {
  margin: 0 20px 20px 0;
}

.brand-logo {
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  width: calc(20% - 20px);
  margin: 0 20px 20px 0;
  display: inline-block;

  &_collected {
    border: 1px solid rgba(0, 0, 0, 1);
  }
}

.brand-logo-image {
  background: #f2f2f2;
  padding: 12px;
  height: 140px;
}

.brand-logo-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.brand-logo-ctas {
  background: white;
  padding: 12px 0 8px;
}

.brand-logo-ctas strong {
  padding: 0 12px 4px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.brand-logo-ctas a {
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 4px 12px;
  cursor: pointer;
  color: black;
  opacity: .6;
}

.brand-logo-ctas a:not(:last-of-type) {
  background: url('downarrow105.svg');
  background-size: 14px;
  background-position: right 12px center;
  background-repeat: no-repeat;
}

.brand-logo-ctas a:last-of-type {
  background: url('plus79.svg');
  background-size: 14px;
  background-position: right 12px center;
  background-repeat: no-repeat;
}

.brand-logo-ctas a:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .02);
}
